.layout {
  background-color: #fafafa;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border-radius: 5px;
}

.library-wrapper {
  margin: auto;
  padding: 0;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 95vw;
  box-shadow: 0px 5px 15px #00347026;
  border-radius: 5px;
  background-color: #fafafa;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.6vw;
  background-color: transparent;
  max-height: 1vh;
}

::-webkit-scrollbar-thumb {
  background: #0d242e;
  border-radius: 1em;
  max-height: 1vh;
}

::-webkit-scrollbar-track {
  width: 8vw;
  border-radius: 10px;
  max-height: 1vh;
}

.title-search-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-left: 2em;
  padding-bottom: 2em;
  padding-top: 2.1em;
  min-width: 0;
}

.library-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 2em;
  font-size: 1.1rem;
}

.search-wrapper {
  position: relative;
}

.search-wrapper input {
  padding: 0.6em 2em;
  padding-right: 13em;
  padding-left: 0.9em;
  outline: none;
  border-radius: 5px;
  border: 0.01em solid #59666b;
}

.search-wrapper img {
  max-width: 1em;
  position: absolute;
  right: 1em;
  top: 0.5em;
}


/* books */

.books-wrapper {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: auto 1em;
}

.book-section-wrapper {
  display: flex;
  width: 49%;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-shadow: 0px 3px 6px #00000017;
  border-radius: 10px;
  width: 44.2vw;
  /* width: 45vw; */
  max-height: 20vh;
  margin: 0.6em;
  padding-right: 0;
  margin-right: 0;
}

.book-info-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1em;
  padding-left: 0;
}

.book-title {
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: start;
}

.book-author {
  color: #1076b5;
  margin-top: 0.2em;
}

.book-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  white-space: nowrap;
  min-width: 70%;
  max-width: 90%;
}

.book-details div {
  display: flex;
  font-size: 0.9 rem;
  min-width: 4.6em;
  /* text-indent: 0.2rem; */
}

.book img {
  max-width: 6.5em;
  object-fit: cover;
  border-radius: 5px;
}

.book-section-wrapper button {
  /* flex: 1; */
  background-color: #1076b5;
  border: 10em solid #1076b5;
  box-shadow: 0px 3px 6px #00000017;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  /* min-width: 2.5em; */
  height: 95%;
  padding: 0.9em;
  flex: 1 1 0;
  /* min-width: 0; */
  max-width: 2.5em;
  transition: 1s;
}

.book-section-wrapper button:hover {
    opacity: 80%;
    transition: 1s;
}



/* mobile version */

@media only screen and (max-width: 900px) {

  .library-wrapper {
    width: 90vw;
    margin-top: 0;
    overflow-x: hidden;
  }

  .title-search-wrapper {
    padding-bottom: 4em;
    max-width: 100%;
  }

  .library-title {
    font-size: 1rem;
    margin-bottom: 0.5em;
  }

  .search-wrapper {
    display: flex;
    height: 3em;
    min-width: 85%;
  }

  .search-wrapper input {
    font-size: 1.2rem;
    height: 1.5em;
  }

  .search-wrapper img {
    max-width: 1.3em;
    right: 1em;
    top: 0.8em;
  }

  .book-section-wrapper {
    min-height: 80vh;
    padding: 0;
    margin: 0 auto;
  }

  .book {
    width: 60vw;
    height: 90vh;
    flex-direction: column;
  }

  .book-info-wrapper {
    min-height: 50vh;
    width: 95%;
    padding-right: 1em;
  }

  .book-details {
    margin-top: 2.5em;
    padding-bottom: 1.3em;
    max-width: 100%;
    height: 20%;
    flex-wrap: wrap; 
  }

  .book-details div {
    justify-content: center;
  }

}

@media only screen and (max-width: 1080px) {
  .library-wrapper {
    width: 100vw;
  }


  .title-search-wrapper {
    padding-left: 3.5em;
  }


  .book-section-wrapper {
    width: 85vw;
    min-height: 62vh;
    flex-direction: column;
    margin-bottom: 3em;
  }


  .book {
    width: 100%;
    min-height: 90%;
    flex-direction: column;
    flex: 4;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    align-items: center;
  }

  .book img {
    max-width: 20vw;
  }

  .book-info-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    justify-content: flex-start;
  }

  .book-title {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  .book-author {
    font-size: 1.4rem;
  }

  .book-genre {
    font-size: 1.3rem;
  }

  .book-details {
    padding-bottom: 1.2em;
    max-width: 60%;
    justify-content: center;
  }

  .book-details div{
    font-size: 1.2rem;
    min-width: 100%;
    margin: 0 auto;
  }

  .book-section-wrapper button {
    flex: 1;
    justify-content: flex-end;
    /* max-height: 0.5em; */
    min-width: 100%;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1366px) {
  .book {
    width: 40vw;
  }

  .book-info-wrapper {
    max-width: 80%;
    justify-content: flex-start;
  }

  .book-details div {
    font-size: 0.7rem;
    width: 5%;
    height: 1.5em;
  }
}

@media only screen and (max-width: 1366px) {
  .title-search-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .library-title {
    font-size: 1.8rem;
    justify-self: flex-start;
  }

  .search-wrapper {
    display: flex;
    width: 45%;
  }

  .search-wrapper input {
    width: 100%;
  }
}