.layout-book {
  background-color: #f8f8f8;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  border-radius: 5px;
}

.container {
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 93vh;
  width: 96.5vw;
  box-shadow: 0px 5px 15px #00347026;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
}

.login-page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 0 3em;
  height: 93vh;
  border-radius: 5px;
}

.bgr-img {
  flex: 1.7;
  object-fit: cover;
  max-width: 55vw;
  border-radius: 5px;
}

.login-logo, .signup-logo {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45vw;
}

.login-logo img, .signup-logo img {
  margin: 0 auto;
  max-width: 25vw;
  align-self: center;
  margin-top: 3.5em;
  max-width: 20em;
}

.login-title, .signup-title {
  text-transform: uppercase;
  /* font-size: 0.75rem; */
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif, bold;
  align-self: center;
  padding-top: 1.3em;
  padding-bottom: 2.5em;
}

.login-title.mobile, .signup-title.mobile, .signup-subtitle.mobile {
  display: none;
}

.signup-title {
  padding-bottom: 0;
  padding-top: 2em;
  font-size: 1.2rem;
  font-weight: 700;
}

.signup-subtitle {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-top: 0.4em;
}

.form-login-signup {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 70.5%;
  align-self: center;
  align-items: center;
}

.login, .signup {
  align-self: center;
  padding-right: 0.2em;
  padding-left: 0.5em;
}

.input-label {
  padding: 1em 0;
  display: flex;
  position: relative;
  flex-direction: column;
}

.input-label label {
  align-self: flex-start;
  color: #53595c;
  font-size: 0.8rem;
  padding: 0.3em 0;
  padding-bottom: 0.5em;
  font-weight: 300;
}

.input-label input {
  padding: 0.8em 7em;
  padding-left: 1em;
  border: 0.03125rem solid #0d242e;
  border-radius: 0.3125rem;
  min-width: 20vw;
  max-width: 15vw;
}

.input-label.signup {
  padding-top: 2em;
  margin-left: 0;
}

.password-input {
  display: flex;
  position: relative;
}

.password-input.repeat-password {
  padding-bottom: 0;
}

.icon {
  position: absolute;
  cursor: pointer;
  min-width: 1.35em;
  /* min-height: 1.1em; */
  right: 0.7em;
  bottom: 0.65em;
  color: #b1b2b3;
}

.icon.shown {
  color: #08c642;
}



.recover-password a {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3.5em;
  font-size: 0.65rem;
  color: #1076b5;
}

.login-signup, .btn-signup {
  /* max-width: 100vw; */
  min-width: 90%;
}

.btn-signup {
  padding-top: 1.2em;
}

.login-signup div, .btn-signup div {
  /* min-width: 30vw; */
  min-width: 20vw;
  max-width: 30vw;
  /* max-width: 26.5vw;
  margin: 0 auto; */
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  /* max-width: 96.5%; */
}

.login-signup button, .btn-signup button {
  background: #08c642;
  min-width: 0;
  flex: 1;
  font-family: "Montserrat", sans-serif bold;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-style: none;
  padding: 0.7em 3em;
  cursor: pointer;
  border-radius: 0.2em;
  transition: 1s;
  margin-top: 1.1em;
}

.btn-signup button {
  background: #1076b5;
  width: 93%;
}

.login-signup.disabled button {
  opacity: 50%;
}

.btn-signup.disabled button {
  background:#00347031
}

.login-signup button:hover {
    opacity: 70%;
    transition: 1s;
}

.login-signup p, .btn-signup p {
    padding-top: 2em;
    font-size: 0.75rem;
}

.login-here-btn {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #08c642;
    padding-left: 0.4em;
}

.signup {
  color: #1076b5;
  font-weight: 700;
  text-transform: uppercase;
}


/* mobile version  */

@media screen and (max-width: 900px) {
  .layout {
    padding: 0;
    border-radius: 0;
    background-image: url("./graphics/Group\ 19445.png");
  }

  .container {
    margin: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    background-image: url("./graphics/Group\ 19445.png");
  }

  .bgr-img {
    display: none;
    position: absolute;
    z-index: -1;
  }

  .login-page-wrapper {
    height: 100vh;
    text-align: center;
  }

  .form-login-signup {
    background: rgba(255, 255, 255, 0.85);
    min-width: 90vw;
    min-height: 61vh;
    border-radius: 8px;
  }

  .form-login-signup.mobile-signup {
    min-height: 78vh;
  }

  .password-input {
    align-self:stretch;
    max-width: 100%;
  }

  .login-title, .signup-title, .signup-subtitle {
    display: none;
  }

  .login-title.mobile, .signup-title.mobile, .signup-subtitle.mobile {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1em;
  }

  .signup-title.mobile {
    font-size: 1.25rem; 
    max-width: 80%;
    margin: 0;
    padding-bottom: 0.7em;
  }

  .signup-subtitle.mobile {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .login, .signup {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .input-label {
    padding-bottom: 1em;
  }

  .input-label.signup {
    min-width: 100%;
    flex: auto;
  }

  .input-label label {
    margin-bottom: 0.2em;
    padding-left: 0.1em;
    font-size: 1rem;
  }

  .input-label input, .password-input input {
    max-width: 100%;
    flex: auto;
  }

  input[type="text"], input[type="password"] {
    background-color: transparent;
  }

  .login-logo, .signup-logo {
    margin: 0 auto;
    margin-bottom: 6em;
  }

  .signup-logo {
    margin-bottom: 2.2em;
  }

  .login-logo img, .signup-logo img {
    width: 45vw;
    padding-bottom: 1em;
  }

  .recover-password a {
    font-size: 0.8rem;
  }

  .login-signup, .btn-signup {
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .btn-signup {
    padding-top: 3em;
    margin-bottom: 1em;
  }

  .login-signup div, .btn-signup div {
    min-width: 84.5%;
  }

  .login-signup button, .btn-signup button {
    width: 100%;
    flex: 1;
    font-size: 1rem;

  }

  .login-signup p, .btn-signup p {
    padding-top: 1.5em;
    font-size: 1rem;
    margin-top: 1.5em;
    width: 100%;
    white-space: nowrap;
  }

  .login-signup p {
    padding-top: 2.5em;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    max-width: 55%;
  }
}