.header-wrapper {
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
}

.header-nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 6px #00000029;
  align-items: center;
  color: white;
}

.logo {
  max-width: 6.5em;
  align-self: center;
  margin: 0.8em;
  margin-left: 3em;
}

/* for book page */
.book-header-button {
  padding-left: 0.5em;
}

.nav-wrapper {
  display: flex;
  width: 17%;
  justify-content: space-between;
  align-self: center;
  margin: auto 2em;
  /* margin-right: 5em; */
}

.nav-wrapper li {
  list-style: none;
  padding: 1.1em;
}

.nav-wrapperp:last-child {
  padding: auto 0.2em;
  margin-right: 2em;
}

.nav {
  padding-bottom: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #0D242E;
  font-size: 1rem;
  font-weight: 400;
}

.nav:focus {
  border-bottom: 0.35em solid #08c642;
  font-weight: 700;
}

.active {
  border-bottom: 0.35em solid #08c642;
  font-weight: 700;
}

.nav-responsive {
  display: none;
  position: absolute;
}

.user-icon img {
  max-width: 1.8em;
  margin: 0.8em;
  margin-right: 3em;
  margin-left: 4.2em;
  cursor: pointer;
  color: #0D242E;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 3em;
  top: 7vh;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.dropdown button {
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 2s;
}

.dropdown button:hover {
  background-color: #d4d3d3;
  transition: 1s;
}

.user-icon:hover .dropdown {
  display: inline-block;
}


.mobile-dropdown {
  display: none;
  position: absolute;
  opacity: 0;
}



@media only screen and (min-width: 900px) {
  .mobile-dropdown {
    display: none;
    position: absolute;
    opacity: 0;
  }


    .logo-wrapper-nav.mobile-logo {
        display: none;
    }

}


@media only screen and (max-width: 900px) {
  .header-wrapper {
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    display: flex;
}

  .header-nav {
    height: 100%;
  }

  .logo-wrapper-nav {
    margin: 0;
    padding-right: 0.8em;
    order: 2;
    display: flex;
    align-content: center;
    min-width: 0;
  }

  .logo-wrapper-nav.mobile-logo {
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    /* max-width: 100vw; */
    min-width: 0;
    max-width: 100%;
    padding: 0;
    padding: 0 auto;
    padding-left: 2.5em;
    /* flex-shrink: 1; */
  }

  .book-header {
    display: none;
    position: absolute;
    z-index: -1;
  }

  .logo {
    margin: 0 auto;
    padding: 0;
    min-width: 13em;
    object-fit: contain;
  }

  /* menu nav */
  .nav-responsive {
    display: flex;
    width: 13%;
    position: relative;
    order: 0;
    margin-left: 1.3em;
    cursor: pointer;
  }

  .nav-responsive img {
    min-width: 2em;
  }

  .nav-wrapper {
    display: none;
    opacity: 0;
    z-index: -1;
    position: absolute;
  }

  .header-nav {
    flex-basis: 100%;
  }

  .user-icon {
    order: 3;
    margin-left: 1.2em;
    display: flex;
    align-content: center;
  }

  .user-icon img {
    min-width: 2.6em;
  }

  .header-nav .book-header {
    margin-top: 8em;
    margin-right: 1em;
  }

  .book-header {
    right: 5em;
  }


  /* nav dropdown mobile */

  .nav-responsive:hover .mobile-dropdown {
    min-width: 100vw;
    background: white;
    z-index: 350;
    opacity: 1;
  }

}