.nav-responsive:hover .mobile-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    /* flex-direction: column; */
}


.nav-responsive:hover .mobile-dropdown {
    position: absolute;
    margin: 0;
    height: 45vh;
    min-width: 100vw;
    background: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 11;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3em;
}

.mobile-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding-top: 1em;
}

.nav-close {
    font-size: 2.6rem;
    display: flex;
    align-content: center;
    color: #08c642;
    text-decoration: none;
    margin: 0.5em;
}

.mobile-logo-wrapper-nav {
    margin: 5em auto;
    padding-right: 2em;
    display: flex;
    align-content: center;
    min-width: 0;
    max-width: 30%;
}

.mobile-logo {
    /* min-width: 20%; */
    width: 100%;
    object-fit: contain;
    padding-right: 2em;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: flex-start;
    height: 50%;
}

.mobile-nav a {
    width: 4.5em;
    font-size: 1.2rem;
    margin-bottom: 2em;
    color: #0d242e;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 0.03rem;
}

.mobile-nav.settings {
    /* margin-top: 3em; */
    margin-bottom: 3em;
}

.mobile-nav active {
    border-bottom: 0.35em solid #08c642;
    font-weight: 700;
}

.mobile-nav:focus {
    border-bottom: 0.35em solid #08c642;
    font-weight: 700;
}

/* @media screen and (min-width: 900px) {
    .mobile-logo {
        display: none;
    }
} */


