.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  height:100%;
  width: 100%;
}


/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
