.header-wrapper {
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
  }
  
  .header-nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    max-width: 6.5em;
    align-self: center;
    margin: 0.8em;
    margin-left: 3em;
  }
  
  .nav-wrapper {
    display: flex;
    width: 17%;
    justify-content: space-between;
    align-self: center;
    margin: auto 2em;
    margin-right: 5em;
  }
  
  .nav-wrapper li {
    list-style: none;
    padding: 1.1em;
  }
  
  .nav {
    padding-bottom: 1em;
    text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #0D242E;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .nav:focus {
    border-bottom: 0.35em solid #08c642;
    font-weight: 700;
  }
  
  .active {
    border-bottom: 0.35em solid #08c642;
    /* width: 3vw; */
    font-weight: 700;
  }
  
  .user-icon img {
    max-width: 1.8em;
    margin: 0.8em;
    margin-right: 3em;
    margin-left: 4.2em;
    cursor: pointer;
    color: #0D242E;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 3em;
    top: 7vh;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
  }
  
  .dropdown button {
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 2s;
  }
  
  .dropdown button:hover {
    background-color: #d4d3d3;
    transition: 1s;
  }
  
  .user-icon:hover .dropdown {
    display: inline-block;
  }
  
  
  /* header for Book page only */

.book-header {
    max-width: 6.5em;
    margin: auto 3.51em;
    margin-right: 1em;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.book-header-button {
    padding-left: 0.5em;
}

.book-header span {
    margin-left: 1em;
    color: black;
    font-weight: 400;
    text-align: center;
}