.layout {
  background-color: #fafafa;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  border-radius: 5px;
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.img-wrapper {
  flex: 0.5;
  display: flex;
  margin-top: 2em;
  margin-left: 2.6em;
  height: 85vh;
  width: 20vw;
  box-shadow: 0px 5px 15px #00347026;
  border-radius: 5px;
  background-color: #fafafa;
  justify-content: space-between;
  z-index: 1;
  justify-content: center;
}

.img-wrapper img {
  /* max-width: 35vw; */
  object-fit:contain;
  padding: 2em;
  flex: 1 1 0;
  min-width: 0;
}

.title-info-wrapper {
  flex: 1;
  margin-right: 3em;
  margin-bottom: 2em;
  padding-bottom: 2.1em;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 55vh;
  width: 85vw;
  box-shadow: 0px 5px 15px #00347026;
  border-radius: 5px;
  background-color: #fafafa;
  flex-direction: column;
  align-self: center;
  z-index: 0;
  flex-grow: 1;
  align-content: stretch;
}

.title {
  background-color: #08c642;
  width: 99.6%;
  display: flex;
  padding: 0.4em;
  padding-right: 0;
  justify-content: flex-start;
  min-width: 0;
}

.title h2 {
  padding-left: 1.3em;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.title-info-wrapper p {
  flex: 1 1 0;
  min-width: 0;
}

.author {
  color: #1076b5;
  font-size: 1.1rem;
  padding-left: 2em;
  margin-bottom: 0.2em;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2em;
  padding-bottom: 2em;
  /* line-height: 2em; */
}

.details div {
  margin-bottom: 1em;
  color: #0D242E;
  font-weight: 500;
  font-size: 1rem;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2em;
  padding-right: 6em;
  padding-bottom: 2em;
  margin-top: 0;
  margin-bottom: 1.5em;
  max-height: 20%;
  flex-grow: 1;
  height: 20%;
}

.description-wrapper h4, .description-wrapper p {
  font-size: 0.9rem;
  margin-bottom: 0;
  font-weight: 700;
}

.description-wrapper p {
  text-align: start;
  font-weight: 400;
}

/* mobile version  */ 

@media screen and (max-width: 900px) {
  .page-wrapper {
    margin-top: 4em;
  }

  .library-btn-mobile {
    display: flex;
    position: inherit;
    max-width: 5em;
    text-decoration: none;
    align-self: flex-start;
    margin-left: 2em;
    flex: 0 1 1em;

  }

  .library-btn-mobile div {
    padding-right: 0.9em;
  }
}

@media screen and (max-width: 1000px) {
  .page-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .img-wrapper {
    min-width: 60vw;
    margin-left: 0;
  }

  .title-info-wrapper {
    flex-direction: column;
    height: 70%;
    margin: 0 auto;
  }

  .title {
    text-align: left;
    padding-left: 0;
    border-radius: 3px;
  }

  .author {
    padding-left: 1.6em;
  }

  .details {
    padding-bottom: 0.7em;
    padding-left: 1.1em;
    font-size: 1.6rem;
  }

  .description-wrapper {
    padding-right: 1.6em;
  }

  .description-wrapper h4 {
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 1366px) {
  .title-info-wrapper {
    min-height: 57vh;
  }

  .img-wrapper {
    max-width: 80vw;
  }
}

@media screen and (min-width: 900px) {
  .library-btn-mobile {
    display: none;
    position: absolute;
    z-index: -1;
  }
}