.layout {
  background-color: #fafafa;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  border-radius: 5px;
}

.settings-wrapper {
  overflow-y: scroll;
  display: flex;
  width: 100vw;
  height: 85vh;
  margin-top: 2em;
  justify-content: space-between;
}

.general-settings, .book-settings {
  box-shadow: 0px 5px 15px #00347026;
  border-radius: 5px;
  background-color: #ffffff;
  width: 55%;
  margin-left: 2.9em;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1.5em;
  padding-top: 1.5em;
}

.book-settings {
  margin-right: 3.3em;
  margin-left: 2.7em;
}

.headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
}

.headings h2 {
  font-weight: 700;
  font-size: 1.2rem;
  color: #0d242e;
  text-transform: uppercase;
}

.headings button {
  margin: 0 auto;
  padding: 0.9em 2.5em;
  color: #ffffff;
  background-color: #08c642;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  transition: 1s;
}

.headings button:hover {
    opacity: 80%;
    transition: 1s;
}

.settings-list {
    margin-top: 3em;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}


.settings-list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.setting-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}

.setting-wrapper li {
  font-size: 1.1rem;
  white-space: nowrap;
}

.setting {
    /* flex: 1; */
    font-weight: 600;
    margin-right: 1em;
}

.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  width: 40vw;
  padding-right: 1em;
}

.arrow-line {
    align-self: center;
    border-bottom: 2px solid #1076b5;
    width: 13vw;
    flex: 2;
}

/* mobile version  */

@media screen and (max-width: 900px) {
  
  .layout {
    background-color: #fafafa;
  }

  .settings-wrapper {
    padding-top: 2em;
    margin-top: 0;
  }
}

@media only screen and (max-width: 1080px) {

  .settings-wrapper {
    flex-direction: column;
    align-items: center;
    background: #fafafa;
    /* padding-top: 0;
    margin-top: 2em; */
  }

  .setting-wrapper {
    align-content: center;
    flex-direction: column;
  }

  .general-settings,
  .book-settings {
    margin: 2em auto;
  }

  .general-settings {
    margin-top: auto;
  }
}